@using KoiManagement.DAL
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListKoi";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    PagedList.IPagedList ListKoi = ViewBag.ListKoi;
    OwnerDAO oDao = new OwnerDAO();
}

<div id="page-wrapper">
    <form style="margin-top:10px;" class="searchForm" action="" method="get">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">Quản lý - Người dùng</h1>
        </div>
        <div class="col-md-4">
            <div class="input-group custom-search-form" style="margin-top: 50px;">
                <input type="text" name="searchString" id="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    </form>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>@Html.ActionLink("KoiID", "ListKoi", new { sortOrder = ViewBag.UserName, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Chủng loại", "ListKoi", new { sortOrder = ViewBag.Variety, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Tên cá Koi", "ListKoi", new { sortOrder = ViewBag.Name, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Ngày sinh", "ListKoi", new { sortOrder = ViewBag.Dob, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Chủ sở hữu", "ListKoi", new { sortOrder = ViewBag.Owner, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Trạng thái", "ListKoi", new { sortOrder = ViewBag.Status, currentFilter = ViewBag.CurrentFilter })</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (ViewBag.ListKoi != null)
                    {
                        for (var item = 0; item < ViewBag.ListKoi.Count; item++)
                        {
                            <tr>
                                <td>@Convert.ToInt32(@item + @ListKoi.FirstItemOnPage - 1)</td>
                                <td>@ViewBag.ListKoi[item].KoiID</td>
                                <td>@ViewBag.ListKoi[item].Variety.VarietyName</td>
                                <td>@ViewBag.ListKoi[item].KoiName</td>
                                <td>@(ViewBag.ListKoi[item].DoB != null ? ViewBag.ListKoi[item].DoB.ToString("dd/MM/yyyy") : "Chưa biết")</td>
                                <td> @{
                                         var owner = oDao.GetOwner(ViewBag.ListKoi[item].KoiID);
                                         if (owner != null)
                                         {
                                             @owner.Member.Name
                                         }
                                     }
                                <td>@ViewBag.ListKoi[item].Image</td>
                                @if (ViewBag.ListKoi[item].Status == 1)
                                {
                                    <td>Hoạt động</td>
                                }
                                else
                                {
                                    <td>Khóa</td>
                                }
                                @if (ViewBag.ListKoi[item].Status == 1)
                                {
                                    <td class="col-md-1"><a class="btn btn-danger btn-sm" onclick="Delete(@ViewBag.ListKoi[item].KoiID, '@ViewBag.ListKoi[item].KoiName');" role="button">Khóa</a></td>
                                }

                                else
                                {
                                    <td class="col-md-1"><a class="btn btn-danger btn-sm" onclick="Active(@ViewBag.ListKoi[item].KoiID, '@ViewBag.ListKoi[item].KoiName');" role="button">Mở khóa</a></td>
                                }
                            </tr>
                        }
                    }
                    </tbody>
                </table>
                Page @(ListKoi.PageCount < ListKoi.PageNumber ? 0 : ListKoi.PageNumber) of @ListKoi.PageCount
                @Html.PagedListPager(ListKoi, page => Url.Action("ListKoi", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
</div>
<script type="text/javascript">

    function Delete(KoiID, username) {
        if (confirm("Bạn có chắc chắn muốn khóa  " + username + "?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeActiveKoi")",
                datatype: "JSON",
            data: {
                KoiID: KoiID
            },
            success: function (res) {
                if (res) {

                    window.location.reload();
                    // $('#test').html();
                    alert("Khóa thành công");
                }
            }
        }); // end ajax
    }
    }

    function Active(KoiID, username) {
        if (confirm("Bạn có chắc chắn muốn mở khóa  " + username + "?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ActiveKoi")",
                datatype: "JSON",
            data: {
                KoiID: KoiID
            },
            success: function (res) {
                if (res) {

                    window.location.reload();
                    // $('#test').html();
                    alert("Mở khóa thành công");
                }
            }
        }); // end ajax
    }
    }
</script>