@using KoiManagement.DAL
@using KoiManagement.Models
@using PagedList.Mvc

@{
    ViewBag.Title = "AddParent";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    PagedList.IPagedList ListKoi = ViewBag.Listkoi;
    KoiFilterModel filter = ViewBag.Filter;
    List<Variety> listVariety = ViewBag.listVariety;
    CommentDAO cmDao = new CommentDAO();
    OwnerDAO oDao = new OwnerDAO();
}

<div class="section site-main">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1">Tìm trong hệ thống</a></li>
            <li><a data-toggle="tab" href="#menu2">Thêm mới</a></li>
        </ul>

        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-4">
                        <!-- Form Search -->
                        <form class="searchForm" action="" method="get">
                            <div id="parent">
                                <h3>Tìm kiếm</h3>
                                <hr />
                                <div class="row">
                                    <div class="col-md-5">
                                        <label id="lbl-koi-name">Tên cá Koi</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input class="input-search" name="nameKoi" id="nameKoi" type="text" value="@filter.KoiName" placeholder="">
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-5">
                                        <label id="lbl-owner">Tên người sở hữu</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input class="input-search" type="text" name="owner" id="owner" value="@filter.Owner" placeholder="">
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-5">
                                        <label id="lbl-variety">Loại</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select name="variety" id="list-variety">
                                            <option value="0">Tất cả</option>
                                            @foreach (var item in listVariety)
                                            {
                                                <option value="@item.VarietyID">@item.VarietyName</option>
                                            }
                                        </select>
                                    </div>
                                    <script type="text/javascript">
                                        var $opt1 = $('#list-variety').children(('option[value=' + @filter.VarietyId + ']'));
                                $opt1.attr('selected', 'selected');
                                    </script>
                                </div>
                                <hr>
                                <div class="align-center">
                                    <button class="btn btn-primary" type="submit" id="btnSearch" name="btnSearch">Tìm kiếm</button>
                                    <span><a class="btn btn-primary" href="/Koi/ListKoi/0"> <span>Xóa</span> </a></span>
                                </div>
                            </div>

                        </form>
                        <!-- END form Search -->
                    </div>
                    <div class="col-md-8">
                        <div id="Main-ListKoi">

                                <div id="Main-ListKoi">
                                    @if (ViewBag.Listkoi != null)
                                    {
                                        for (var item = 0; item < ViewBag.Listkoi.Count; item++)
                                         {
                                             <div class="content-section-a">
                                                 <input type="hidden" id="koiID" name="koiID" value="@ViewBag.Listkoi[item].KoiID">
                                                 <div class="row">
                                                     <div class="col-md-3">
                                                         <img class="img-koi-list " src="/Content/Image/Koi/@ViewBag.Listkoi[item].Image" alt="">
                                                     </div>
                                                     <div class="col-md-6">
                                                         <p class="title-koi-name" href="/Koi/Details/@ViewBag.Listkoi[item].KoiID">@ViewBag.Listkoi[item].KoiName</p>
                                                         <h4 style="margin-top: 25px;">
                                                             Chủ sở hữu:     @{
                                                                 var owner = oDao.GetOwner(ViewBag.Listkoi[item].KoiID);
                                                                 if (owner != null)
                                                                 {
                                                                    <a href="/Account/profile/@owner.Member.MemberID">@owner.Member.Name</a>
                                                                 }
                                                            } 
                                                         </h4>
                                                         <h4>Kích thước: </h4>
                                                         <p class="">
                                                             <a style="color: #3377ff;" href="@Url.Action("Timeline/" + @ViewBag.Listkoi[item].KoiID, "InfoDetail")">Thông tin sinh trưởng </a>
                                                         </p>
                                                         <p>
                                                             <a class="btn btn-embossed btn-primary" href="/Koi/Details/@ViewBag.Listkoi[item].KoiID" role="button">Chi tiết</a>
                                                             <a class="btn btn-embossed btn-primary" onclick="AddParent(@ViewBag.KoiSonID,@ViewBag.Listkoi[item].KoiID)" role="button">Thêm cá mẹ</a>
                                                         </p>
                                                     </div>
                                                     <div class="col-md-3">
                                                         <div class="ratings" style="margin-top: 13px;">
                                                             <input type="number" name="your_awesome_parameter" id="rating-default" class="rating" value="3"/>
                                                             <br/>
                                                             <a href="">@cmDao.CountCommentByKoiID(ViewBag.Listkoi[item].KoiID) đánh giá</a>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         }
                                    }
                                    Page @(ListKoi.PageCount < ListKoi.PageNumber ? 0 : ListKoi.PageNumber) of @ListKoi.PageCount

                                    @Html.PagedListPager(ListKoi, page => Url.Action("AddParent" + @ViewBag.VarietyId,
                                        new {page, orderby = filter.orderby, nameKoi = filter.KoiName, variety = filter.VarietyId, sizeFrom = filter.SizeFrom, sizeTo = filter.SizeTo, gender = filter.Gender, owner = filter.Owner}))
                                </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="">
                            <h2>Thêm cá bố - mẹ mới</h2>
                            <hr>
                            <br>
                            <form>
                                <div class="form-group">
                                    <label>Chủng loại</label>
                                    <select class="form-control" id="VarietyID" name="VarietyID">
                                            <option value="0">Chưa rõ</option>
                                            @foreach (var item in listVariety)
                                            {
                                                <option value="@item.VarietyID">@item.VarietyName</option>
                                            }
                                        </select>
                                    <label id="lblMessage_koi_variety_fail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <label for="name">Tên cá (<span style="color: red;">*</span>)</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Tên cá Koi">
                                    <label id="lblMessage_name_fail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <select class="form-control" id="Gender" name="Gender">
                                        <option value="N">Giới Tính</option>
                                        <option value="M">Đực</option>
                                        <option value="F">Cái</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Xuất xứ</label>
                                    <input type="text" class="form-control" placeholder="Xuất xứ" id="Origin" name="Origin">
                                    <label id="lblMessage_origin_fail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <label for="name">Ảnh cá</label>
                                    <input type="file" accept="image/png, image/jpeg, image/gif" name="file" id="file" class="img" onchange="loadFile(event)"/>
                                    <br/>
                                    <div><img id="imagePreview" alt=""/>
                                    </div>
                                    <script>
                                        var loadFile = function(event) {
                                            var output = document.getElementById('imagePreview');
                                            imagePreview.src = URL.createObjectURL(event.target.files[0]);
                                        };
                                    </script>
                                    <label id="lblMessage_image_fail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-primary btn-block" onclick="AddNewParent(@ViewBag.KoiSonID)" role="button">Lưu</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">

    function AddParent(koiSonId,koMomId) {
        $('#lbl_username_fail').text("");
        if (confirm("Bạn có chắc chắn muốn chọn làm cá mẹ?")) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddToParent")",
                datatype: "JSON",
                data: {
                    koiSonId: koiSonId,
                    koMomId: koMomId

                },
                success: function(res) {
                    switch (res.Status) {
                    case 2:
                        $('#lbl_username_fail').text(res.Message);
                        $('#username').focus();
                        break;
                    case 3:
                        $('#lbl_username_fail').text(res.Message);
                        $('#username').focus();
                        break;
                    case 1:
                        alert(res.Message);
                        window.location.href = res.RedirectTo;
                        break;
                    }
                }
            }); // end ajax
        }
    }


    $(document)
        .ready(function() {
            $(function() {
                $("#name").focus();
            });
        });

    function Validate() {
        var name = $('#name').val();
        if (name.length < 5 || name.length > 50) {
            $('#lblMessage_name_fail').text("Tên koi phải chứa từ 5 đến 50 ký tự");
            $('#name').focus();
            return false;
        }
        if (file == "") {
            $('#lblMessage_image_fail').text("Xin hãy nhập ảnh");
            return false;
        }
        return true;
    }

    function AddNewParent(koiSonId) {
        $('#lbl_username_fail').text("");
        $('#lblMessage_image_fail').text("");
        var name = $('#name').val();
        var VarietyId = $('#VarietyID').val();

        var Origin = $('#Origin').val();
        var fileUpload = $("#file").get(0);
        var files = fileUpload.files;

        if (Validate()) {
            var fileData = new FormData();
            fileData.append('koiSonId', koiSonId);
            fileData.append('koiname', $('#name').val());
            fileData.append('VarietyId', $('#VarietyID').val());
            fileData.append('Gender', $('#Gender').val());
            fileData.append('Origin', $('#Origin').val());
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddNewParent")",
                contentType: false, // Not to set any content header
                processData: false,
                data: fileData,
                dataType: "Json",
                success: function (res) {
                switch (res.Status) {
                    case 2:
                        $('#lblMessage_name_fail').text(res.Message);
                        $('#username').focus();
                        break;
                    case 3:
                        $('#lblMessage_image_fail').text(res.Message);
                        $('#username').focus();
                        break;
                    case 1:
                        alert(res.Message);
                        window.location.href = res.RedirectTo;
                        break;
                }
            }
        }); // end ajax
    }
    }
</script>
