@using KoiManagement.Common
@using KoiManagement.Models
@model KoiManagement.Models.Koi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    Owner owner = ViewBag.Owner;
    List<Medium> listImage = ViewBag.listImage;
    if (ViewBag.NewMemberID == null) { ViewBag.NewMemberID = 0; }
}

<body>


    <!-- Modal Trade-->
    <div id="trade" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chuyển chủ sở hữu</h4>
                </div>
                <div class="modal-body">
                    <label>Chủ sở hữu mới</label>
                    <input type="text" id="username" name="username" placeholder="Nhập tên tài khoản" />
                    <a onclick="ChangeOwner(@Model.KoiID)" class="btn btn-primary btn-sm">Lưu</a>
                    <label id="lbl_username_fail" class="label-error"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="section site-main">
        <div class="container">
            <div class="koi-detail">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="image-slider">

                            <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 300px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
                                <!-- Loading Screen -->
                                <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                                    <div style="position: absolute; display: block; background: url('images/loading.gif') no-repeat center center; top: 0px; left: 0px; width: 20%; height: 100%;"></div>
                                </div>
                                <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 300px; height: 375px; overflow: hidden;">
                                    <div data-p="144.50">
                                        <img data-u="image" src="~/Content/Image/Koi/@Model.Image" />
                                        <img data-u="thumb" src="~/Content/Image/Koi/@Model.Image" />
                                    </div>
                                    @{
                                        if (listImage.Count > 0)
                                        {
                                            foreach (var image in listImage)
                                            {
                                                <div data-p="144.50" style="display: none;">
                                                    <img data-u="image" src="~/Content/Image/Detail/@image.LinkImage" />
                                                    <img data-u="thumb" src="~/Content/Image/Detail/@image.LinkImage" />
                                                </div>
                                            }
                                        }

                                    }
                                </div>
                                <!-- Thumbnail Navigator -->
                                <div data-u="thumbnavigator" class="jssort01" style="position: absolute; left: 0px; bottom: 0px; width: 300px; height: 80px;" data-autocenter="1">
                                    <!-- Thumbnail Item Skin Begin -->
                                    <div data-u="slides" style="cursor: default;">
                                        <div data-u="prototype" class="p">
                                            <div class="w">
                                                <div data-u="thumbnailtemplate" class="t"></div>
                                            </div>
                                            <div class="c"></div>
                                        </div>
                                    </div>
                                    <!-- Thumbnail Item Skin End -->
                                </div>
                                <!-- Arrow Navigator -->
                                <span data-u="arrowleft" class="jssora05l" style="top: 158px; left: 8px; width: 40px; height: 40px;"></span>
                                <span data-u="arrowright" class="jssora05r" style="top: 158px; right: 8px; width: 40px; height: 40px;"></span>
                            </div>
                            <!-- #endregion Jssor Slider End -->
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="item">
                            <div class="item-attr">
                                <div class="line item-name">
                                    <h1>@Model.KoiName</h1>
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-cubes"></span> Chủng loại:</label> <span>@Model.Variety.VarietyName</span>
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-calendar"></span> Ngày sinh:</label> <span>@(Model.DoB != null ? Model.DoB.Value.ToString("dd/MM/yyyy") : "Chưa biết")</span>
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-adjust"></span> Giới tính:</label> <span>@CommonFunction.ReturnGenderKoi(@Model.Gender)</span>
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-arrows-h"></span> Kích thước:</label> <span>20 cm</span>
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-bullseye"></span> Xuất xứ:</label> <span>@Model.Origin</span>
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-hand-rock-o"></span> Tính cách:</label> <span>@Model.Temperament</span>
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-user"></span>  Bố - Mẹ:</label> @{
                                        if (ViewBag.KoiMomName != null)
                                        {
                                            <a href="/Koi/Details/@Model.KoiMom">@ViewBag.KoiMomName <span class="fa fa-angle-double-right"></span></a>
                                        }
                                        else if (@owner != null)
                                        {
                                            if (Session[SessionAccount.SessionUserId] != null && @owner.Member.MemberID.ToString().Equals(Session[SessionAccount.SessionUserId].ToString()))
                                            {
                                                <span><a href="@Url.Action("AddParent/"+ Model.KoiID, "InfoDetail")" class="btn btn-embossed btn-primary btn-sm" role="button">Thêm bố - mẹ</a></span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-home"></span> Chủ sở hữu:</label>
                                    @if (owner != null)
                                    {
                                        <span><a href="#">@owner.Member.Name</a></span>
                                        if (Session[SessionAccount.SessionUserId] != null && @owner.Member.MemberID.ToString().Equals(Session[SessionAccount.SessionUserId].ToString()))
                                        {
                                            <span style="float:right;"><a class="btn btn-embossed btn-primary btn-sm" role="button" data-toggle="modal" data-target="#trade">Đổi chủ</a></span>}
                                    }
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-trophy"></span> Thành tích:</label> <a href="#">Chi tiết <span class="fa fa-angle-double-right"></span></a>
                                </div>
                                <div class="line">
                                    <label><span class="fa fa-clock-o"></span> Thông tin sinh trưởng:</label> <a href="@Url.Action("timeline/"+@Model.KoiID, "InfoDetail")">Chi tiết <span class="fa fa-angle-double-right"></span></a>
                                </div>
                                <div class="line">
                                    <a href="#" class="btn btn-embossed btn-primary" role="button">Liên hệ</a>
                                    <a href="#" class="btn btn-embossed btn-primary" role="button" style="float: right;">Báo cáo vi phạm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" style="margin-top: 40px;">
                        <input type="number" name="your_awesome_parameter" id="rating-default" class="rating" value="3" />
                        <div class="post-footer" style="margin-top:20px">
                            <div class="input-group">
                                <input class="form-control" placeholder="Add a comment" type="text">
                                <span class="input-group-addon">
                                    <a href="#"><i class="fa fa-edit"></i></a>
                                </span>
                            </div>
                            <ul class="comments-list">
                                <li class="comment">
                                    <a class="pull-left" href="#">
                                        <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">Gavino Free</h4>
                                            <h5 class="time">5 minutes ago</h5>
                                        </div>
                                        <p>Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
                                    </div>
                                    <ul class="comments-list">
                                        <li class="comment">
                                            <a class="pull-left" href="#">
                                                <img class="avatar" src="http://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                                            </a>
                                            <div class="comment-body">
                                                <div class="comment-heading">
                                                    <h4 class="user">Ryan Haywood</h4>
                                                    <h5 class="time">3 minutes ago</h5>
                                                </div>
                                                <p>Relax my friend</p>
                                            </div>
                                        </li>
                                        <li class="comment">
                                            <a class="pull-left" href="#">
                                                <img class="avatar" src="http://bootdey.com/img/Content/user_2.jpg" alt="avatar">
                                            </a>
                                            <div class="comment-body">
                                                <div class="comment-heading">
                                                    <h4 class="user">Gavino Free</h4>
                                                    <h5 class="time">3 minutes ago</h5>
                                                </div>
                                                <p>Ok, cool.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="pull-left" href="#">
                                        <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">Gavino Free</h4>
                                            <h5 class="time">5 minutes ago</h5>
                                        </div>
                                        <p>Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script src="~/Scripts/slider.js"></script>
<script src="~/Scripts/jssor.slider-21.1.6.mini.js"></script>


<script type="text/javascript">

    function ChangeOwner(parameter1) {
        var username = $('#username').val();
        $('#lbl_username_fail').text("");

        if (confirm("Bạn có chắc chắn muốn đổi chủ?")) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeOwner")",
                datatype: "JSON",
                data: {
                    koiId: parameter1,
                    username: username
                },
                success: function (res) {
                    switch (res.Status) {
                        case 2:
                            $('#lbl_username_fail').text(res.Message);
                            $('#username').focus();
                            break;
                        case 3:
                            $('#lbl_username_fail').text(res.Message);
                            $('#username').focus();
                            break;
                        case 1:
                            alert(res.Message);
                            // Declare a proxy to reference the hub.
                            var notifications = $.connection.notificationsHub;
                            // Create a function that the hub can call to broadcast messages.
                            $.connection.hub.start().done(function () {
                                notifications.server.sendNotification(res.JsonObject, "test", "test");
                            });
                            window.location.reload();
                            break;
                    }
                }
            }); // end ajax
        }
    }
</script>
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="/signalr/hubs"></script>
