@using KoiManagement.Common
@using KoiManagement.Models
@model IEnumerable<KoiManagement.Models.Koi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    Member member = ViewBag.Member;
    if (member == null)
    {
        throw new ArgumentNullException("member");
    }
}
<script type="text/javascript">

    function GetInfo(parameter1) {
        if (confirm("Bạn có chắc chắn muốn xóa?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteConfirmed")",
                datatype: "JSON",
                data: {
                    koiID: parameter1
                },
                success: function (res) {
                    if (res) {

                            window.location.reload();
                            // $('#test').html();
                            alert("Xóa thành công");
                    }
                }
            }); // end ajax
        }
    }
</script>

<!-- Modal Death-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Khai tử cá</h4>
            </div>
            <div class="modal-body form-group">
                <label>Nhập lý do khai tử:</label>
                <br />
                <textarea class="form-control" rows="5" placeholder="Vui lòng nhập nguyên nhân"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ">Lưu</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="section site-main">
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Account/_Manager.cshtml")
            @*<div class="col-md-3">
                <div class="box_left">
                    <div class="profile_info">
                        <div class="profile_left">
                            <a href="#">
                                <img src="~/Content/Image/Member/@member.MemberID" id="avatar" class="profile_img" alt="">
                            </a>
                            <h4><a href="#" class="profile_name">Người dùng</a></h4>
                        </div>
                    </div>
                    @if (Session[SessionAccount.SessionUserId] != null && Session[SessionAccount.SessionUserId].ToString().Equals(member.MemberID.ToString()))
                    {
                        <div class="line"></div>
                        <a href="@Url.Action("UpdateProfile", "Account")" class="profile_link">
                            <h3 class="profile_item">Thông tin cá nhân</h3>
                        </a>
                        <div class="line"></div>
                        <a href="@Url.Action("ChangePassword", "Account")" class=" profile_link">
                            <h3 class="profile_item">Đổi mật khẩu</h3>
                        </a>
                        <div class="line"></div>

                        <a href="@Url.Action("KoiUser/"+ViewBag.Member.MemberID, "Koi")" class="profile_link">
                            <h3 class="profile_item">Cá Koi của tôi [<span id="my_koi_count">@ViewBag.CountKoi</span>]</h3>
                        </a>
                        <div class="line"></div>
                        <a href="#" class="profile_link">
                            <h3 class="profile_item">Trang trại của tôi [<span id="my_farm_count">0</span>]</h3>
                        </a>
                    }
                    else
                    {
                        <div class="line"></div>
                        <a href="@Url.Action("Profile/"+member.MemberID, "Account")" class="profile_link">
                            <h3 class="profile_item">Thông tin cá nhân</h3>
                        </a>

                        <div class="line"></div>
                        <a href="@Url.Action("KoiUser/"+@ViewBag.Member.MemberID, "Koi")" class="profile_link">
                            <h3 class="profile_item">Cá Koi của @member.UserName [<span id="my_koi_count">@ViewBag.CountKoi</span>]</h3>
                        </a>
                        <div class="line"></div>
                        <a href="#" class="profile_link">
                            <h3 class="profile_item">Trang trại của @member.UserName [<span id="my_farm_count">0</span>]</h3>
                        </a>
                    }
                </div>
                </div>*@
            <div class="col-md-9">
                <div class="box_right">
                    <section id="titleArea">
                        <div class="container">
                            <div class="row">
                                @if (Session[SessionAccount.SessionUserId] != null && Session[SessionAccount.SessionUserId].ToString().Equals(member.MemberID.ToString()))
                                {
                                    <div class="col-lg-6 col-md-push-7">
                                        <a class="btn icon-btn btn-info btn-Add-Koi" href="/Koi/AddKoi">
                                            <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
                                            Thêm Cá Koi
                                        </a>
                                    </div>}
                            </div>
                        </div>
                    </section>
                    <section class="container" id="list-koi">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="title_box">
                                    <h1 class="title2">Cá Koi của tôi</h1>
                                    @*<div class="option_view_small">
                                        <button class="option_base_select_small" title="Xem thông tin cơ bản" type="button"></button>
                                        <input type="submit" name="btnViewDetail" value="" id="btnViewDetail" title="Xem chi tiết thông tin" class="option_detail_small">
                                    </div>*@
                                    <div id="ContentPlaceHolder1_ContentPlaceHolder1_ContentPlaceHolder2_regPanel" @*onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;btnSearch&#39;)"*@>
                                        <input name="txtSearch" type="text" id="txtSearch" class="search_textbox_small search_textbox_small_margin" placeholder="Tìm kiếm">
                                        <input type="submit" name="btnSearch" value="" id="btnSearch" class="btnSearch_hide">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @if (Model != null)
                                {
                                    for (var item = 0; item < Model.Count(); item++)
                                    {
                                        <div class="content-section-b">
                                            @if (Session[SessionAccount.SessionUserId] != null && Session[SessionAccount.SessionUserId].ToString().Equals(member.MemberID.ToString()))
                                            {
                                                <div class="dropdown">
                                                    <button class="setting-icon dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="/Koi/editKoi/@Model.ElementAt(item).KoiID">Sửa</a></li>
                                                        <li><a onclick="GetInfo(@Model.ElementAt(item).KoiID)">Xóa</a></li>
                                                        <li><a href="" data-toggle="modal" data-target="#myModal">Khai tử</a></li>
                                                    </ul>
                                                </div>}
                                            <input type="hidden" id="koiID" name="koiID" value="@Model.ElementAt(item).KoiID">
                                            <div class="row container">
                                                <div class="col-md-2">
                                                    <img class="img-responsive img-koi-list " src="/Content/Image/Koi/@Model.ElementAt(item).Image" alt="">
                                                </div>
                                                <div class="col-md-5">
                                                    <a class="title-koi-name" href="/Koi/Details/@Model.ElementAt(item).KoiID">@Model.ElementAt(item).KoiName</a>
                                                    <h4>
                                                        Chủ sở hữu: @if (Model.ElementAt(item).Owners.Count() > 0)
                                                                    {
                                                                        @Model.ElementAt(item).Owners.ElementAt(0).Member.Name
                                                                    }
                                                    </h4>
                                                    <p>
                                                        <a class="btn btn-embossed btn-primary" href="/Koi/Details/@Model.ElementAt(item).KoiID" role="button">Chi tiết</a>
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="ratings">
                                                        <a style="text-decoration: none;" href="#">
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </a>
                                                        <br/>
                                                        <br/>
                                                        <a href="">@Model.ElementAt(item).Comments.Count() đánh giá</a>
                                                    </div>
                                                    <p>
                                                        <a class="btn btn-embossed btn-primary" href="/Koi/editKoi/@Model.ElementAt(item).KoiID" role="button">Chỉnh sửa</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h3>Chưa có cá, hãy thêm cá</h3>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        </div>
    </div>
