@using KoiManagement.Common
@model IEnumerable<KoiManagement.Models.Koi>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/MemberAccountLayout.cshtml";
}
<script type="text/javascript">

    function GetInfo(parameter1) {
        if(confirm("Bạn có chắc chắn muốn xóa?"))
        {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteConfirmed")",
                datatype: "JSON",
                data: {
                    koiID: parameter1
                },
                success: function(res) {
                    switch (res.Status) {
                    case 2:
                        $('#lbl_username_fail').text(res.Message);
                        $('#username').focus();
                        break;
                    case 3:
                        $('#lbl_password_fail').text(res.Message);
                        $('#password').focus();
                        break;
                    case 4:
                        $('#errorMessage').text(res.Message);
                        $('#username').focus();
                        break;
                    case 1:
                        window.location.reload();
                        // $('#test').html();
                        alert("Xóa thành công");
                        break;
                    }
                }
            }); // end ajax
        }
    }
</script>
<section id="titleArea">
    <div class="container">
        <div class="row">
            @if ( Session[SessionAccount.SessionUserId] != null && Session[SessionAccount.SessionUserId].ToString().Equals(ViewBag.MemberId.ToString())) {
            <div class="col-lg-6 col-md-push-7">
                <a class="btn icon-btn btn-info btn-Add-Koi" href="/Koi/AddKoi">
                    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
                    Thêm Cá Koi
                </a>
            </div>}
        </div>
    </div>
</section>
<section class="container" id="list-koi">
    <div class="row">
        <div class="col-md-9">
            <div class="title_box">
                <h1 class="title2">Cá Koi của tôi</h1>
                <div id="ContentPlaceHolder1_ContentPlaceHolder1_ContentPlaceHolder2_regPanel" @*onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;btnSearch&#39;)"*@>
                    <input name="txtSearch" type="text" id="txtSearch" class="search_textbox_small search_textbox_small_margin" placeholder="Tìm kiếm">
                    <input type="submit" name="btnSearch" value="" id="btnSearch" class="btnSearch_hide">
                </div>
            </div>
        </div>

        <div class="col-md-9">
            @if (Model!=null)
            {
                for (var item = 0; item < Model.Count(); item++)
                 {
                     <div class="content-section-b">
                         @if(Session[SessionAccount.SessionUserId]!=null && Session[SessionAccount.SessionUserId].ToString().Equals(ViewBag.MemberId.ToString())) {
                         <div class="dropdown">
                             <button class="setting-icon dropdown-toggle" type="button" data-toggle="dropdown">
                                 <span class="caret"></span></button>
                             <ul class="dropdown-menu dropdown-menu-right">
                                 <li><a href="/Koi/editKoi/@Model.ElementAt(item).KoiID">Sửa</a></li>
                                 <li><a onclick="GetInfo(@Model.ElementAt(item).KoiID)">Xóa</a></li>
                             </ul>
                         </div>}
                         <input type="hidden" id="koiID" name="koiID" value="@Model.ElementAt(item).KoiID">
                         <div class="row container">
                             <div class="col-md-3">
                                 <img class="img-responsive img-koi-list " src="/Content/Image/Koi/@Model.ElementAt(item).Image" alt="">
                             </div>
                             <div class="col-md-7">
                                 <a class="title-koi-name" href="/Koi/Details/@Model.ElementAt(item).KoiID">@Model.ElementAt(item).KoiName</a>
                                 <h4>Chủ sở hữu: @if (Model.ElementAt(item).Owners.Count() > 0)
                                                 {
                                                     @Model.ElementAt(item).Owners.ElementAt(0).Member.Name
                                                 }
                                 </h4>
                                 <p><a class="btn btn-embossed btn-primary" href="/Koi/Details/@Model.ElementAt(item).KoiID" role="button">Chi tiết</a>
                                 </p>
                             </div>
                             <div class="col-md-2">
                                 <div class="ratings">
                                     <a>
                                         <span class="glyphicon glyphicon-star"></span>
                                         <span class="glyphicon glyphicon-star"></span>
                                         <span class="glyphicon glyphicon-star"></span>
                                         <span class="glyphicon glyphicon-star"></span>
                                         <span class="glyphicon glyphicon-star"></span>
                                     </a>
                                     <br/>
                                     <br/>
                                     <a href="">@Model.ElementAt(item).Comments.Count() đánh giá</a>
                                 </div>
                                 <p><a class="btn btn-embossed btn-primary" href="/Koi/editKoi/@Model.ElementAt(item).KoiID" role="button">Chỉnh sửa</a>
                                 </p>
                             </div>
                         </div>
                     </div>
                 }
            }
            else
            {
                <H3>Chưa có cá, hãy thêm cá</H3>
            }
        </div>
    </div>
</section>


