@model IEnumerable<KoiManagement.Models.Koi>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}

<section id="titleArea">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Danh sách cá Koi</h2>
            </div>

        </div>
    </div>
</section>
<section class="container" id="list-koi">
    <div class="row">
        <div class="col-md-3">
            <!-- Form Search -->
            <form class="searchForm">
                <h3>Tìm kiếm</h3>
                <hr/>
                <div>
                    <label id="lbl-name">Tên</label>
                    <input class="input-search" type="text" placeholder="">
                </div>
                <hr/>
                <div>
                    <label id="lbl-variety">Loại</label>
                    <span>
                        <select name="Koi" id="drop-variety">
                            <option value="#" selected>Tất cả</option>
                            <option value="#">TanCho</option>
                            <option value="#">Showa</option>
                        </select>
                    </span>
                </div>
                <hr>          
                <div>
                    <label id="lbl-size">Kích thước</label> 
                    <input class="koi-size" type="text" placeholder="From"><label>-</label>
                    <input class="koi-size" type="text" placeholder="To"><label>cm</label>
                </div>
                <hr>
                <div>
                    <label id ="lbl-gender">Giới tính</label>
                    <span>
                        <select name="Koi" id="drop-sex">
                            <option value="#" selected>Tất cả</option>
                            <option value="#">Đực</option>
                            <option value="#">Cái</option>
                        </select>
                    </span>
                </div>
                <hr/>   
                <div>
                    <label id="lbl-year-old">Tuổi</label>
                    <input class="koi-year-old" type="text" placeholder="From"><label>-</label>
                    <input class="koi-year-old" type="text" placeholder="To"><label>tháng</label>
                </div>
                <hr/>
                <div>
                    <label id="lbl-owner">Sở hữu</label>
                    <input class="input-search" type="text" placeholder="">
                </div>
                <hr/>
                <button class="btn btn-primary" id="btnSearch" name="btnSearch">SUBMIT</button>
            </form>
            <!-- END form Search -->
        </div>

        <div class="col-md-9" >
            @for (var item = 0; item < Model.Count(); item++) { 
            <div class="content-section-b">

                <input type="hidden" id="koiID" name="koiID" value="@Model.ElementAt(item).KoiID">
                <div class="row container">
                    <div class="col-md-2">
                        <img class="img-responsive img-koi-list " src="/Content/Image/Koi/@Model.ElementAt(item).Image" alt="">
                    </div>
                    <div class="col-md-5">
                        <a class="title-koi-name" href="/Koi/Details/@Model.ElementAt(item).KoiID">@Model.ElementAt(item).KoiName</a>
                        <h4 class="lead">Chủ sở hữu: @if (Model.ElementAt(item).Owners.Count() > 0)
                        {
                        @Model.ElementAt(item).Owners.ElementAt(0).Member.Name
                        }
                        </h4>
                        <p><a class="btn btn-embossed btn-primary" href="/Koi/Details/@Model.ElementAt(item).KoiID" role="button">Chi tiết</a></p>
                    </div>
                    <div class="col-md-2">
                        <div class="ratings">
                            <a>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </a>
                            <br />
                            <br />
                            @*<a href="">@Model.ElementAt(item).Comments.Count() đánh giá</a>*@
                        </div>
                    </div>
                </div>
            </div>  
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    
    $("#btnDelete")
        .click(function () {
            GetInfo();
        });

    function GetInfo(parameter1) {
        $.ajax({
            type: "POST",
            url: "@(Url.Content("~/Koi/DeleteConfirmed"))",
            datatype: "JSON",
            data: {
                koiID: parameter1
            },
            success: function(returndata) {
                if (returndata.result) {
                    //  window.location.reload();
                    // $('#test').html();
                    alert("updated licenses");
                } else {
                    
                }
            }
        });// end ajax
    }
</script>
