@using KoiManagement.Models
@using Model.DAO
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    PagedList.IPagedList ListKoi = ViewBag.Listkoi;
    KoiFilterModel filter = ViewBag.Filter;
    CommentDAO cmDao = new CommentDAO();
    OwnerDAO oDao = new OwnerDAO();
    List<Variety> listVariety = ViewBag.listVariety;
    //filter.VarietyId = ViewBag.VarietyId.ToString();

}
    <section id="titleArea">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Danh sách cá Koi</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container" id="list-koi">
        <div class="row">
            <div class="col-md-3">
                <!-- Form Search -->
                <form class="searchForm" action="/Koi/ListKoi/4" method="get">
                    <h3>Tìm kiếm</h3>
                    <hr />
                    <div>
                        <label id="lbl-user-name" >Tên đăng nhập</label>
                        <input class="input-search" name="username" id="username" type="text" value="@filter.Username" placeholder="">
                    </div>
                    <hr />
                    <div>
                        <label id="lbl-owner">Tên người sở hữu</label>
                        <input class="input-search" type="text" name="owner" id="owner" value="@filter.Owner" placeholder="">
                    </div>
                    <hr />
                    <div>
                        <label id="lbl-koi-name">Tên cá Koi</label>
                        <input class="input-search" name="nameKoi" id="nameKoi" type="text" value="@filter.KoiName" placeholder="">
                    </div>
                    <hr />
                    <div>
                        <label id="lbl-variety">Loại</label>
                        <span>
                            <select name="variety" id="variety">
                                <option value="0">Tất cả</option>
                                @foreach (var item in listVariety)
                                {
                                    <option value="@item.VarietyID">@item.VarietyName</option>
                                }
                            </select>
                        </span>
                        <script type="text/javascript">
                            var $opt = $('#variety').children(('option[value=' + @filter.VarietyId +']')); $opt.attr('selected', 'selected');
                        </script>
                    </div>
                    <hr>
                    <div>
                        <label id="lbl-size">Kích thước</label>
                        <input class="koi-size" name="SizeFrom" id="sizeFrom" value="@filter.SizeFrom" type="text" placeholder="From"><label>-</label>
                        <input class="koi-size" name="SizeTo" id="sizeTo" value="@filter.SizeTo" type="text" placeholder="To"><label>cm</label>
                    </div>
                    <hr>
                    <div>
                        <label id="lbl-gender">Giới tính</label>
                        <span>
                            <select name="gender" id="gender">
                                <option value="" selected>Tất cả</option>
                                <option value="M">Đực</option>
                                <option value="F">Cái</option>
                            </select>
                        </span>
                    </div>
                    <hr />
                    <script type="text/javascript">
                        var $opt = $('#gender').children(('option[value=' + @filter.Gender +']')); $opt.attr('selected', 'selected');
                    </script>
                    <div>
                        <label id="lbl-year-old">Tuổi</label>
                        <input class="koi-year-old" type="text" placeholder="From"><label>-</label>
                        <input class="koi-year-old" type="text" placeholder="To"><label>tháng</label>
                    </div>
                    <hr />
                    <button class="btn btn-primary" type="submit" id="btnSearch" name="btnSearch">Tìm kiếm</button>
                </form>
                    @*</form>*@
                    <!-- END form Search -->
        </div>
            <div class="col-md-9">
                <div class="container btn-select-list-koi">
                    <a class="btn" href="@Url.Action("ListKoi", "Koi", new {orderby ="newest", nameKoi= filter.KoiName  , variety= filter.VarietyId , sizeFrom= filter.SizeFrom , sizeTo= filter.SizeTo ,gender= filter.Gender ,owner=  filter.Owner } )">Mới nhất</a>|
                    <a class="btn" href="@Url.Action("ListKoi", "Koi", new {orderby ="review", nameKoi= filter.KoiName  , variety= filter.VarietyId , sizeFrom= filter.SizeFrom , sizeTo= filter.SizeTo ,gender= filter.Gender ,owner=  filter.Owner } )">Nhiều đánh giá</a>

                </div>
                <div id="Main-ListKoi">
                    @for (var item = 0; item < ViewBag.Listkoi.Count; item++)
                    {
                        <div class="content-section-b">
                            <input type="hidden" id="koiID" name="koiID" value="@ViewBag.Listkoi[item].KoiID">
                            <div class="row container">
                                <div class="col-md-2">
                                    <img class="img-koi-list " src="/Content/Image/Koi/@ViewBag.Listkoi[item].Image" alt="">
                                </div>
                                <div class="col-md-5">
                                    <a class="title-koi-name" href="/Koi/Details/@ViewBag.Listkoi[item].KoiID">@ViewBag.Listkoi[item].KoiName</a>
                                    <h4 class="">
                                        Chủ sở hữu:  <a href="/Account/profile/@oDao.GetOwnerID(ViewBag.Listkoi[item].KoiID)">@oDao.GetOwnerName(ViewBag.Listkoi[item].KoiID)</a>
                                    </h4>
                                    <p class=""><a style="border-bottom: solid 1px #3377ff; color: #3377ff;" href="/InfoDetail/KoiInfoDetail/@ViewBag.Listkoi[item].KoiID">Thông tin sinh trưởng </a></p>
                                    <p><a class="btn btn-embossed btn-primary" href="/Koi/Details/@ViewBag.Listkoi[item].KoiID" role="button">Chi tiết</a></p>
                                </div>
                                <div class="col-md-2">
                                    <div class="ratings align-right">
                                        <a>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </a>
                                        <br />
                                        <br />
                                        @*<a href="">@cmDao.CountCommentByKoiID(ViewBag.Listkoi[item].KoiID) đánh giá</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />

                Page @(ListKoi.PageCount < ListKoi.PageNumber ? 0 : ListKoi.PageNumber) of @ListKoi.PageCount

                @Html.PagedListPager(ListKoi, page => Url.Action("ListKoi/"+ @ViewBag.VarietyId,
    new { page, orderby = filter.orderby, nameKoi = filter.KoiName, variety = filter.VarietyId, sizeFrom = filter.SizeFrom, sizeTo = filter.SizeTo, gender = filter.Gender, owner = filter.Owner  }))
            </div>
        </div>
    </section>
    <script type="text/javascript">

    </script>
