@using KoiManagement.DAL
@using KoiManagement.Models
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    PagedList.IPagedList ListKoi = ViewBag.Listkoi;
    KoiFilterModel filter = ViewBag.Filter;
    CommentDAO cmDao = new CommentDAO();
    OwnerDAO oDao = new OwnerDAO();
    InfoDetailDAO infoDao = new InfoDetailDAO();
    List<Variety> listVariety = ViewBag.listVariety;
    //filter.VarietyId = ViewBag.VarietyId.ToString();

}
    <section id="titleArea">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Danh sách cá Koi</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container" id="list-koi">
        <div class="row">
            <div class="col-md-4">
                <!-- Form Search -->
                <form class="searchForm" action="/Koi/ListKoi/4" method="get">
                    <div id="parent">
                        <h3>Tìm kiếm</h3>
                        <hr />
                        <div class="row">
                            <div class="col-md-5">
                                <label id="lbl-variety">Loại</label>
                            </div>
                            <div class="col-md-7">
                                <select name="variety" id="variety">
                                    <option value="0">Tất cả</option>
                                    @foreach (var item in listVariety)
                                    {
                                        <option value="@item.VarietyID">@item.VarietyName</option>
                                    }
                                </select>
                            </div>
                            <script type="text/javascript">
                                var $opt1 = $('#variety').children(('option[value=' + @filter.VarietyId + ']'));
                                $opt1.attr('selected', 'selected');
                            </script>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <label id="lbl-size">Kích thước (cm)</label>
                            </div>
                            <div class="col-md-7">
                                <input class="koi-size" name="SizeFrom" id="sizeFrom" value="@filter.SizeFrom" type="text" placeholder="From"><span> - </span>
                                <input class="koi-size" name="SizeTo" id="sizeTo" value="@filter.SizeTo" type="text" placeholder="To">
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                <label id="lbl-year-old">Tuổi (tháng)</label>
                            </div>
                            <div class="col-md-7">
                                <input class="koi-year-old" type="text" name="AgeFrom" id="AgeFrom" value="@filter.AgeFrom" placeholder="From"><span> - </span>
                                <input class="koi-year-old" type="text" name="AgeTo" id="AgeTo" value="@filter.AgeTo" placeholder="To">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-5">
                                <label id="lbl-gender">Giới tính</label>
                            </div>
                            <div class="col-md-7">
                                <select name="gender" id="gender">
                                    <option value="" selected>Tất cả</option>
                                    <option value="M">Đực</option>
                                    <option value="F">Cái</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <script type="text/javascript">
                            var $opt = $('#gender option[value="@filter.Gender"]');
                            $opt.attr('selected', 'selected');
                        </script>
                        <div class="row">
                            <div class="col-md-5">
                                <label id="lbl-koi-name">Tên cá Koi</label>
                            </div>
                            <div class="col-md-7">
                                <input class="input-search" name="nameKoi" id="nameKoi" type="text" value="@filter.KoiName" placeholder="">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-5">
                                <label id="lbl-owner">Người sở hữu</label>
                            </div>
                            <div class="col-md-7">
                                <input class="input-search" type="text" name="owner" id="owner" value="@filter.Owner" placeholder="">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-5">
                                <label id="lbl-user-name">Tên đăng nhập</label>
                            </div>
                            <div class="col-md-7">
                                <input class="input-search" name="username" id="username" type="text" value="@filter.Username" placeholder="">
                            </div>
                        </div>
                        <hr />
                        <div class="align-center">
                            <button class="btn btn-primary" type="submit" id="btnSearch" name="btnSearch">Tìm kiếm</button>
                            <span><a class="btn btn-primary" href="/Koi/ListKoi/0"> <span>Xóa</span> </a></span>
                        </div>
                    </div>

                </form>
                    @*</form>*@
                    <!-- END form Search -->
        </div>
            <div class="col-md-8">
                <div>
                    <a class="btn btn-filter" href="@Url.Action("ListKoi", "Koi", new {orderby ="newest",username =filter.Username, nameKoi= filter.KoiName  , variety= filter.VarietyId , sizeFrom= filter.SizeFrom , sizeTo= filter.SizeTo ,gender= filter.Gender ,owner=  filter.Owner } )">Mới nhất</a>
                    <a class="btn btn-filter" href="@Url.Action("ListKoi", "Koi", new {orderby ="review",username =filter.Username, nameKoi= filter.KoiName  , variety= filter.VarietyId , sizeFrom= filter.SizeFrom , sizeTo= filter.SizeTo ,gender= filter.Gender ,owner=  filter.Owner } )">Nhiều đánh giá</a>
                </div>
                <div id="Main-ListKoi">
                    @for (var item = 0; item < ViewBag.Listkoi.Count; item++)
                    {
                        <div class="content-section-a">
                            <input type="hidden" id="koiID" name="koiID" value="@ViewBag.Listkoi[item].KoiID">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-koi-list " src="/Content/Image/Koi/@ViewBag.Listkoi[item].Image" alt="">
                                </div>
                                <div class="col-md-6">
                                    <p class="title-koi-name" href="/Koi/Details/@ViewBag.Listkoi[item].KoiID">@ViewBag.Listkoi[item].KoiName</p>
                                    <h4 style="margin-top:25px;">
                                        Chủ sở hữu:@{
                                            var owner = oDao.GetOwner(ViewBag.Listkoi[item].KoiID);
                                            if (owner != null)
                                            {
                                                <a href="/Account/profile/@owner.Member.MemberID">@owner.Member.Name</a>
                                            }
                                                   } 
                                    </h4>
                                    <h4>Kích thước: @infoDao.GetLastSize(ViewBag.Listkoi[item].KoiID) (cm) </h4>
                                    <p class=""><a style="color: #3377ff;" href="@Url.Action("Timeline/"+@ViewBag.Listkoi[item].KoiID, "InfoDetail")">Thông tin sinh trưởng </a>
                                    </p>
                                    <p><a class="btn btn-embossed btn-primary" href="/Koi/Details/@ViewBag.Listkoi[item].KoiID" role="button">Chi tiết</a>
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <div class="ratings" style="margin-top: 13px;">
                                        <a style="text-decoration: none;" href="#">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </a>
                                        <br />
                                        <br />
                                        <a style="margin-right:10px" href="">@cmDao.CountCommentByKoiID(ViewBag.Listkoi[item].KoiID) đánh giá</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />

                Page @(ListKoi.PageCount < ListKoi.PageNumber ? 0 : ListKoi.PageNumber) of @ListKoi.PageCount

                @Html.PagedListPager(ListKoi, page => Url.Action("ListKoi/"+ @ViewBag.VarietyId,
    new { page, orderby = filter.orderby, nameKoi = filter.KoiName, variety = filter.VarietyId, sizeFrom = filter.SizeFrom, sizeTo = filter.SizeTo, gender = filter.Gender, owner = filter.Owner  }))
            </div>
        </div>
    </section>
    <script type="text/javascript">

    </script>
