@using KoiManagement.Common
@using PagedList.Mvc
@model IEnumerable<KoiManagement.Models.Koi>

@{
    ViewBag.Title = "Thêm cá vào trang trại";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    PagedList.IPagedList ListKoi = ViewBag.ListKoi;
}


<section class="container" id="list-koi">
    <h2>Hãy chọn cá bạn muốn thêm vào trang trại<h3>(Bạn chỉ được thêm theo từng trang.)</h3></h2>
    <div class="button-header text-right" style="margin:0 0 15px 0;">
        <a class="btn btn-success" id="btnAddKoi">Thêm cá vào trang trại</a>
    </div>
    <table class="table table-responsive table-striped" id="find-table">
        <thead style="background-color:aquamarine;">
            <tr>
                <th>Hình ảnh</th>
                <th>Chủng loại</th>
                <th>Tên cá</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Nguồn gốc</th>
                <th>Thêm vào trang trại</th>
            </tr>
        </thead>
        <tbody>
            @for (int item = 0; item < ViewBag.ListKoi.Count; item++)
            {
                <tr>
                    <td>
                        <img class="img-add-farm" src="/Content/Image/Koi/@ViewBag.ListKoi[item].Image" alt="">
                    </td>
                    <td>
                        @ViewBag.ListKoi[item].Variety.VarietyName
                    </td>
                    <td>
                        @ViewBag.ListKoi[item].KoiName
                    </td>
                    <td>
                        @(@ViewBag.ListKoi[item].DoB != null ? @ViewBag.ListKoi[item].DoB.ToString("dd/MM/yyyy") : "Chưa biết")
                    </td>
                    <td>
                        @CommonFunction.ReturnGenderKoi(ViewBag.ListKoi[item].Gender)
                    </td>
                    <td>
                        @ViewBag.ListKoi[item].Origin
                    </td>

                    <td>
                        <label><input type="checkbox" value="@ViewBag.ListKoi[item].KoiID" checked>Chọn</label>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    Trang @(ListKoi.PageCount < ListKoi.PageNumber ? 0 : ListKoi.PageNumber) / @ListKoi.PageCount
    @Html.PagedListPager(ListKoi, page => Url.Action("AddkoiToKoiFarm/" + @ViewBag.KoiFarmID, "KoiFarm", new { page }))
</section>

<style>
    .img-add-farm {
        height: 195px;
        width: 130px;
        overflow: hidden;
        display: block;
        margin: auto 15px auto 10px;
    }
    /*table {
        display: flex;
        flex-flow: column;
        height: 60%;
        width: 100%;
    }

        table thead {
            flex: 0 0 auto;
            width: calc(100% - 1em);
        }

        table tbody {
            flex: 1 1 auto;
            display: block;
            overflow-y: scroll;

        }

            table tbody tr {
                width: 100%;
            }

            table thead,
            table tbody tr {
                display: table;
                table-layout: fixed;
            }
    table {
        border: 1px solid lightgrey;
    }

        table td, table th {
            padding: 0.3em;
        }*/
</style>
<script>
    var oldText;
    $("#btnAddKoi")
        .click(function() {
            if (Validate()) {
                oldText = $(this).text();
                $(this).text('Xin đợi ...').attr('disabled', 'disabled');
                AddKoi();
            } else {

                return false;
            }
        });

    function Validate() {
        return true;
    }

    function AddKoi() {
        var searchIDs = [];

        $("#find-table input:checkbox:checked").map(function () {
            searchIDs.push($(this).val());
        });

        var t = searchIDs.join();
        if (t == "") {
            alert("Vui lòng nhập chọn koi.");
            return ;
        }

        $.ajax({

            type: "POST",
            url: "@Url.Action("AddToKoiFarm")",
            data: {
                KoiID: t,
                koiFarmId: @ViewBag.KoiFarmID,
            },
            dataType: "Json",
            success: function(res) {
                $('#btnAddKoi').text(oldText).removeAttr('disabled');
                switch (res.Status) {

                    case 1:
                        alert(res.Message);
                        window.location.reload();
                        break;
                    case 0:
                        window.location.href = res.RedirectTo;
                        break;
                }
            }
        });
    }
</script>