@using KoiManagement.Common
@using KoiManagement.DAL
@using KoiManagement.Models
@using PagedList.Mvc


@{
    ViewBag.Title = "Giới thiệu trang trại";
    KoiFarm koifarm = ViewBag.koiFarm;
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    //List<Koi> listKoi=ViewBag.listKoi;


    PagedList.IPagedList ListKoi = ViewBag.Listkoi;
    KoiFilterModel filter = ViewBag.Filter;
    CommentDAO cmDao = new CommentDAO();
    OwnerDAO oDao = new OwnerDAO();
    InfoDetailDAO infoDao = new InfoDetailDAO();
    List<Variety> listVariety = ViewBag.listVariety;

}
    <!-- Modal Report-->
<div id="report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Báo cáo vi phạm</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>Nội dung vi phạm:</label>
                </div>
                <div>
                    <textarea rows="4" id="contentReport" name="content" placeholder="Nhập nội dung vi phạm" style="width:100%;"></textarea>
                    <label id="lbl_report_fail" class="label-error"></label>
                </div>
                <div style="margin-top:10px;">
                    <a onclick="ReportKoiFarm(@koifarm.KoifarmID)" class="btn btn-primary">Gửi</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul id="mytabs" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Thông tin trang trại</a></li>
        <li><a data-toggle="tab" href="#menu1">Cá của trang trại</a></li>
        @if (Session[SessionAccount.SessionUserId] != null && Session[SessionAccount.SessionUserId].ToString().Equals(@koifarm.MemberID.ToString()))
        {
            <li style="float: right; margin-left: 5px;">
                <div class="button-header align-right">
                    <a class="btn btn-success" href="@Url.Action("AddKoiToKoiFarm/"+Session[SessionAccount.SessionUserId], "KoiFarm")">Thêm cá vào trang trại</a>
                </div>
            </li>
            <li style="float: right;">
                <div class="button-header text-right">
                    <a class="btn btn-success" href="@Url.Action("Import", "KoiFarm")">Thêm bằng file excel</a>
                </div>
            </li>
        }

</ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active koi-detail">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">
                    <div class="item">
                        <div class="item-attr">
                            <div class="line item-name">
                                <h1>@koifarm.FarmName</h1>
                            </div>
                            <div class="line">
                                <label><span class="fa fa-user"></span> Chủ trang trại:</label> <a href="/Account/profile/@koifarm.Member.MemberID">@koifarm.Member.Name</a>
                            </div>
                            <div class="line">
                                <label><span class="fa fa-map-marker"></span> Địa chỉ:</label> <span>@koifarm.Address</span>
                            </div>
                            <div class="line">
                                <label><span class="fa fa-phone"></span> Số điện thoại:</label> <span>@koifarm.Member.Phone</span>
                            </div>
                            <div class="line">
                                <label><span class="fa fa-cubes"></span> Chủng loại chính:</label> <span>Kohaku</span>
                            </div>
                            <div class="line">
                                <label><span class="fa fa-envelope" ></span> <a href="#"  role="button" data-toggle="modal" data-target="#report">
                                                Báo cáo tài khoản vi phạm
                                            </a></label> 
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            @Html.Raw(@koifarm.Description)
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="row">
                <div class="col-md-4">
                    <form class="searchForm" action="" method="get">
                        <div id="parent">
                            <h3>Tìm kiếm</h3>
                            <hr />
                            <div class="row">
                                <div class="col-md-5">
                                    <label id="lbl-variety">Loại</label>
                                </div>
                                <div class="col-md-7">
                                    <select name="variety" id="variety">
                                        <option value="0">Tất cả</option>
                                        @foreach (var item in listVariety)
                            {
                                <option value="@item.VarietyID">@item.VarietyName</option>
                            }
                                    </select>
                                </div>
                                <script type="text/javascript">
                                    var $opt1 = $('#variety').children(('option[value=' + @filter.VarietyId + ']'));
                                    $opt1.attr('selected', 'selected');
                                </script>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-5">
                                    <label id="lbl-size">Kích thước (cm)</label>
                                </div>
                                <div class="col-md-7">
                                    <input class="koi-year-old" type="text" name="SizeFrom" id="SizeFrom" value="@filter.SizeFrom" placeholder="From" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" maxlength="4"><span> - </span>
                                    <input class="koi-year-old" type="text" name="SizeTo" id="SizeTo" value="@filter.SizeTo" placeholder="To" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" maxlength="4">
                                </div>

                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-5">
                                    <label id="lbl-year-old">Tuổi (tháng)</label>
                                </div>
                                <div class="col-md-7">
                                    <input class="koi-year-old" type="text" name="AgeFrom" id="AgeFrom" value="@filter.AgeFrom" placeholder="From" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" maxlength="4"><span> - </span>
                                    <input class="koi-year-old" type="text" name="AgeTo" id="AgeTo" value="@filter.AgeTo" placeholder="To" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" maxlength="4">
                                </div>
                            </div>
                            <hr />
                            <div class="align-center">
                                <button class="btn btn-primary" type="submit" id="btnSearch" name="btnSearch">Tìm kiếm</button>
                                <span><a class="btn btn-primary" href="#"> <span>Xóa</span> </a></span>
                            </div>
                        </div>
                    </form>
                </div>
                @*<div class="col-md-8">
                    <div>
                        <div>
                            <a class="btn btn-filter" href="#">Mới nhất</a>
                            <a class="btn btn-filter" href="#">Nhiều đánh giá</a>
                        </div>
                    </div>
                    <div>
                        @foreach (var item in listKoi)
                        {
                            <div style="margin-top:10px;" class="content-section-a">
                                <input type="hidden" id="koiID" name="koiID" value="@item.KoiID">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-koi-list " src="/Content/Image/Koi/@item.Image" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <a class="title-koi-name" href="/Koi/Details/@item.KoiID">@item.KoiName</a>
                                        <h4 class="">
                                            Chủ sở hữu: <a href="/Account/profile/@oDao.GetOwnerID(ViewBag.Listkoi[item].KoiID)">Tên chủ sở hữu</a>
                                        </h4>
                                        <p class="">
                                            <a style="border-bottom: solid 1px #3377ff; color: #3377ff;" href="@Url.Action("Timeline/"+@item.KoiID, "InfoDetail")">Thông tin sinh trưởng </a>
                                        </p>
                                        <p>
                                            <a class="btn btn-embossed btn-primary" href="/Koi/Details/@item.KoiID" role="button">Chi tiết</a>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="ratings" style="margin-top: 13px;">
                                            <a style="text-decoration:none;">
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span class="glyphicon glyphicon-star"></span>
                                            </a>
                                            <br />
                                            <br />
                                            <a href=""> @cmDao.CountCommentByKoiID(ViewBag.Listkoi[item].KoiID)  đánh giá</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    
                </div>*@
                
                
                <div class="col-md-8">

                    <div id="Main-ListKoi">
                        @for (var item = 0; item < ViewBag.Listkoi.Count; item++)
                        {
                            <div class="content-section-a">
                                <input type="hidden" id="koiID" name="koiID" value="@ViewBag.Listkoi[item].KoiID">
                                <input type="hidden" id="KoiName" name="KoiName" value="@ViewBag.Listkoi[item].KoiName">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-koi-list " src="/Content/Image/Koi/@ViewBag.Listkoi[item].Image" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="title-koi-name" href="/Koi/Details/@ViewBag.Listkoi[item].KoiID">@ViewBag.Listkoi[item].KoiName</p>
                                        <h4 style="margin-top:25px;">
                                            Chủ sở hữu:@{
                                                var owner = oDao.GetOwner(ViewBag.Listkoi[item].KoiID);
                                                if (owner != null)
                                                {
                                                    <a href="/Account/profile/@owner.Member.MemberID">@owner.Member.Name</a>
                                                }
                                            }
                                        </h4>
                                        <h4>Kích thước: @infoDao.GetLastSize(ViewBag.Listkoi[item].KoiID) (cm) </h4>
                                        <p class="">
                                            <a style="color: #3377ff;" href="@Url.Action("Timeline/"+@ViewBag.Listkoi[item].KoiID, "InfoDetail")">Thông tin sinh trưởng </a>
                                        </p>
                                        <p>
                                            <a class="btn btn-embossed btn-primary" href="/Koi/Details/@ViewBag.Listkoi[item].KoiID" role="button">Chi tiết</a>
                                        </p>
                                    </div>
                                    <input type="hidden" name="KoiId" id="KoiId">
                                    <div class="col-md-3">
                                        @if (Session[SessionAccount.SessionUserId] != null)
                                        {
                                            <div class="ratings" data-toggle="modal" data-target="#vote" onclick="Rate(@ViewBag.Listkoi[item].KoiID, @item,'@ViewBag.Listkoi[item].KoiName')" style="margin-top: 13px;">
                                                @{ var id = "rating-default" + @item; }
                                                <input type="number" name="your_awesome_parameter" id="@id" class="rating" value="@cmDao.getRate(ViewBag.Listkoi[item].KoiID)" disabled="disabled" data-readonly />
                                            </div>
                                                    }
                                                    else
                                                    {
                                                        <input type="number" name="your_awesome_parameter" id="rating-readonly" class="rating" value="@cmDao.getRate(ViewBag.Listkoi[item].KoiID)" data-readonly />
                                                    }
                                        <h5 style="margin-left: 5px;">@cmDao.CountCommentByKoiID(ViewBag.Listkoi[item].KoiID) đánh giá</h5>
                                    </div>
                                </div>
                            </div>
                                                    }
                    </div>
                    <br />

                    Page @(ListKoi.PageCount < ListKoi.PageNumber ? 0 : ListKoi.PageNumber) of @ListKoi.PageCount

                    @Html.PagedListPager(ListKoi, page => Url.Action("ListKoi/" + @ViewBag.VarietyId,
    new { page, orderby = filter.orderby, nameKoi = filter.KoiName, variety = filter.VarietyId, sizeFrom = filter.SizeFrom, sizeTo = filter.SizeTo, gender = filter.Gender, owner = filter.Owner }))
                </div>
                

            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .nav-tabs {
        margin: 40px auto 50px auto;
    }
    .btnFilter:active {
        background-color: #fff;
    }
</style>


<script>

     @if (@filter.VarietyId != null||  filter.SizeFrom != null || filter.SizeTo != null || filter.AgeTo != null || filter.AgeFrom != null)
     {
         <text>
    $(document).ready(function () {
        $(function () {

            $('#mytabs a[href="#menu1"]').tab('show');

             });

         });</text>
     }
     function ReportKoiFarm(parameter1) {
         var content = $('#contentReport').val();
        $('#lbl_Report_fail').text("");

        $.ajax({
             type: "POST",
            url: "@Url.Action("ReportKoiFarm", "Report")",
            datatype: "JSON",
        data: {
                 koiFarmId: parameter1,
            content: content,
            },
        success: function (res) {
                 switch (res.Status) {
                     case 2:
                         alert(res.Message);
                    $('#username').focus();
                         break;
                     case 3:
                    $('#lbl_report_fail').text(res.Message);
                    $('#username').focus();
                         break;
                     case 1:
                         alert(res.Message);
                         // Declare a proxy to reference the hub.

                         window.location.reload();
                         break;
                 }
             }
         }); // end ajax
     }
</script>