@using KoiManagement.Models
@using PagedList.Mvc

@{
    ViewBag.Title = "Danh sách trang trại";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
    PagedList.IPagedList ListKoiFarm = ViewBag.ListKoiFarm;
    KoiFarmFilterModel filter = ViewBag.Filter;
    List<string> listVariety = ViewBag.listVariety;
}

<style type="text/css">
    .button-header {
        padding-bottom: 10px;
        margin: 40px 0 20px;
    }
</style>

<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <form style="margin-top:10px;" class="searchForm" action="" method="get">
                <div id="parent">
                    <h3>Tìm kiếm</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-5">
                            <label id="lbl-farm-name">Tên trang trại</label>
                        </div>
                        <div class="col-md-7">
                            <input class="input-search" name="farmname" id="farmname" type="text" value="@filter.farmname" placeholder="">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-5">
                            <label id="lbl-owner">Chủ trang trại</label>
                        </div>
                        <div class="col-md-7">
                            <input class="input-search" type="text" name="owner" id="owner" value="@filter.owner" placeholder="">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-5">
                            <label id="lbl-koi-name">Địa chỉ</label>
                        </div>
                        <div class="col-md-7">
                            <input class="input-search" name="address" id="address" type="text" value="@filter.address" placeholder="">
                        </div>
                    </div>
                    <hr />
                    <div class="align-center">
                        <button class="btn btn-primary" type="submit" id="btnSearch" name="btnSearch">Tìm kiếm</button>
                        <span><a class="btn btn-primary" href="@Url.Action("ListKoiFarm","koifarm")"> <span>Xóa</span> </a></span>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-8">
            @for (int item = 0; item < ViewBag.ListKoiFarm.Count; item++)
            {
                <div class="content-section-a">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-farm-list" src="/Content/Image/Member/@ViewBag.ListKoiFarm[item].Member.Image" alt="">
                        </div>
                        <div class="col-md-5">
                            <a class="title-koi-name" href="@Url.Action("KoiFarmDetail/"+ @ViewBag.ListKoiFarm[item].KoifarmID, "KoiFarm")">@ViewBag.ListKoiFarm[item].FarmName</a>
                            <h4 class="">
                                Chủ trang trại: <a href="/Account/profile/@ViewBag.ListKoiFarm[item].MemberID">@ViewBag.ListKoiFarm[item].Member.Name</a>
                            </h4>
                            <h4>Địa chỉ:@ViewBag.ListKoiFarm[item].Address</h4>
                            <h4>Chủng loại chính:@listVariety.ElementAt(item + ListKoiFarm.FirstItemOnPage - 1)</h4>
                            <a class="btn btn-embossed btn-primary" href="@Url.Action("KoiFarmDetail/"+ @ViewBag.ListKoiFarm[item].KoifarmID, "KoiFarm")" role="button">Xem thêm</a>
                        </div>
                        <div class="col-md-3">
                            <div class="ratings" style="margin-top: 13px;">
                                <input type="number" name="your_awesome_parameter" id="rating-default" class="rating" value="3" />
                                <br />                                
                                <a style="margin-left:10px;" href="#"> đánh giá</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            Page @(ListKoiFarm.PageCount < ListKoiFarm.PageNumber ? 0 : ListKoiFarm.PageNumber) of @ListKoiFarm.PageCount
            @Html.PagedListPager(ListKoiFarm, page => Url.Action("ListKoiFarm", "KoiFarm", new { page }))
        </div>
    </div>
</div>