@using KoiManagement.Common
@using KoiManagement.Models

@{
    ViewBag.Title = "Quản lý tài khoản";
    Member member = ViewBag.Member;
}
<div class="col-md-3">
    <div class="box_left">
        <div class="profile_info">
            <div class="profile_left">
                <a href="#">
                    <img src="~/Content/Image/Member/@member.Image" id="avatar" class="profile_img" alt="">
                </a>
                <h4><a href="#" class="profile_name">@member.UserName</a></h4>
            </div>
        </div>
        @if (Session[SessionAccount.SessionUserId] != null && Session[SessionAccount.SessionUserId].ToString().Equals(member.MemberID.ToString()))
        {
            <div class="line"></div>
                        <a href="@Url.Action("UpdateProfile", "Account")" class="profile_link">
                            <h3 class="profile_item">Thông tin cá nhân</h3>
                        </a>
                        <div class="line"></div>
                        <a href="@Url.Action("ChangePassword", "Account")" class=" profile_link">
                            <h3 class="profile_item">Đổi mật khẩu</h3>
                        </a>
                        <div class="line"></div>

                        <a href="@Url.Action("KoiUser/"+ViewBag.Member.MemberID, "Koi")" class="profile_link">
                            <h3 class="profile_item">Cá Koi của tôi [<span id="my_koi_count">@ViewBag.CountKoi</span>]</h3>
                        </a>
                        <div class="line"></div>
                        <a href="@Url.Action("KoifarmOwner/"+@ViewBag.Member.MemberID, "KoiFarm")" class="profile_link">
                            <h3 class="profile_item">Trang trại của tôi [<span id="my_farm_count">@ViewBag.CountKoiFarm</span>]</h3>
                        </a>
                        <div class="line"></div>
                        <a href="@Url.Action("ListNotification","Notification")" class="profile_link">
                            <h3 class="profile_item">Thông báo [<span id="my_farm_count">2</span>]</h3>
                        </a>
        }
        else
        {
            <div class="line"></div>
                        <a href="@Url.Action("Profile/"+member.MemberID, "Account")" class="profile_link">
                            <h3 class="profile_item">Thông tin cá nhân</h3>
                        </a>

                        <div class="line"></div>
                        <a href="@Url.Action("KoiUser/"+@ViewBag.Member.MemberID, "Koi")" class="profile_link">
                            <h3 class="profile_item">Cá Koi của @member.UserName [<span id="my_koi_count">@ViewBag.CountKoi</span>]</h3>
                        </a>
                        <div class="line"></div>
                        <a href="@Url.Action("KoifarmOwner/"+@ViewBag.Member.MemberID, "KoiFarm")" class="profile_link">
                            <h3 class="profile_item">Trang trại của @member.UserName [<span id="my_farm_count">@ViewBag.CountKoiFarm</span>]</h3>
                        </a>
        }
    </div>
</div>

