@model KoiManagement.Models.Member
@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Layout/KoiLayout.cshtml";
}
    <!-- Modal Report-->
<div id="report" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Báo cáo vi phạm</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>Nội dung vi phạm:</label>
                </div>
                <div>
                    <textarea rows="4" id="contentReport" name="content" placeholder="Nhập nội dung vi phạm" style="width:100%;"></textarea>
                    <label id="lbl_report_fail" class="label-error"></label>
                </div>
                <div style="margin-top:10px;">
                    <a onclick="ReportMember(@Model.MemberID)" class="btn btn-primary">Gửi</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="section site-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="box_left">
                    <div class="profile_info">
                        <div class="profile_left">
                            <a href="#">
                                <img src="~/Content/Image/Member/@Model.Image" id="avatar" class="profile_img" alt="">
                            </a>
                            <h4><a href="@Url.Action("Profile/"+@Model.MemberID, "Account")" class="profile_name">@Model.Name</a></h4>
                        </div>
                    </div>
                    <div class="line"></div>
                    <a href="@Url.Action("Profile/"+@Model.MemberID, "Account")" class="profile_link">
                        <h3 class="profile_item">Thông tin cá nhân</h3>
                    </a>
                    <div class="line"></div>
                    <a href="@Url.Action("KoiUser/"+@Model.MemberID, "Koi")" class="profile_link">
                        <h3 class="profile_item">Cá Koi của @Model.UserName [<span id="my_koi_count">@ViewBag.CountKoi</span>]</h3>
                    </a>
                    <div class="line"></div>
                    <a href="@Url.Action("KoifarmOwner/"+@Model.MemberID, "KoiFarm")" class="profile_link">
                        <h3 class="profile_item">Trang trại của @Model.UserName [<span id="my_farm_count">@ViewBag.CountKoiFarm</span>]</h3>
                    </a>
                    <div class="line"></div>
                    <a href="#"  role="button" data-toggle="modal" data-target="#report">
                        <h3 class="profile_item">Báo cáo tài khoản vi phạm</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="box_right">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <h1>Thông tin cá nhân</h1>
                                <div class="form-group">
                                    <label for="email">Email*</label>
                                    <input type="email" class="form-control" id="email" name="email" value="@Model.Email" placeholder="Email" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="username">Tên đăng nhập*</label>
                                    <input type="text" class="form-control" id="username" name="username" value="@Model.UserName" placeholder="Tên đăng nhập" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="name">Họ và tên</label>
                                    <input type="text" class="form-control" id="name" name="name" value="@Model.Name" placeholder="Họ và tên" disabled>
                                    <label id="lblMessage_name_fail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <label id="lblGender" for="gender">Giới tính:</label>
                                    <input type="text" class="form-control" id="name" name="name" value="@Model.Gender" placeholder="Họ và tên" disabled>
                                </div>
                                <div class="form-group">
                                    <!-- <label>Ngày sinh</label>
                                    <div>
                                        <select>
                                            <option>Ngày</option>
                                        </select>
                                        <select>
                                            <option>Tháng</option>
                                        </select>
                                        <select>
                                            <option>Năm</option>
                                        </select>
                                    </div> -->
                                    <label for="dob">Ngày Sinh</label>
                                    <input type="date" class="form-control" id="dob" name="dob" placeholder="Ngày Sinh" disabled>
                                    <label id="lblMessage_dob_fail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" disabled>
                                    <label id="lblMessage_address_fail" class="label-error"></label>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại" disabled>
                                    <label id="lblMessage_phone_fail" class="label-error"></label>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    function ReportMember(parameter1) {
        var content = $('#contentReport').val();
        $('#lbl_Report_fail').text("");

        $.ajax({
            type: "POST",
            url: "@Url.Action("ReportMember", "Report")",
            datatype: "JSON",
        data: {
            memberId: parameter1,
            content: content,
            },
        success: function (res) {
            switch (res.Status) {
                case 2:
                    alert(res.Message);
                    $('#username').focus();
                    break;
                case 3:
                    $('#lbl_report_fail').text(res.Message);
                    $('#username').focus();
                    break;
                case 1:
                    alert(res.Message);
                    // Declare a proxy to reference the hub.

                    window.location.reload();
                    break;
            }
        }
    }); // end ajax
    }
</script>