
    @{
        ViewBag.Title = "Danh sách chủng loại";
        Layout = "~/Views/Layout/KoiLayout.cshtml";
    }

    <section id="titleArea">
        <div class="container">
            <div class="row">
            </div>@Model
        </div>
    </section>
    <div class="container list-variety">
        <div class="row list-box">
            <div class="col-md-3">
                <ul>
                    <li><a href="#item0">Showa</a></li>
                    <li><a href="#item1">Kohaku</a></li>
                    <li><a href="#item2">Sanke</a></li>
                    <li><a href="#item3">Bekko</a></li>
                    <li><a href="#item4">Utsurimono</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="#item5">Asagi</a></li>
                    <li><a href="#item6">Tancho</a></li>
                    <li><a href="#item7">Hikarimuji</a></li>
                    <li><a href="#item8">Shusui</a></li>
                    <li><a href="#item9">Goromo</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="#item10">Matsuba</a></li>
                    <li><a href="#item11">Kawarimono</a></li>
                    <li><a href="#item12">Chagoi</a></li>
                    <li><a href="#item13">Goshiki</a></li>
                    <li><a href="#item14">Kinginrin</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="#item15">Ochiba</a></li>
                    <li><a href="#item16">Hariwake</a></li>
                    <li><a href="#item17">Benigoi</a></li>
 
                </ul>
            </div>
        </div>
    </div>
    @for (var item = 0; item < ViewBag.Varieties.Count; item++)
    {
    <div class="container content-section-a">

        <div class="container">
            @{ var id = "item" + item;}
            <a name="@id"></a>
            <div class="row">
                <div class="col-md-9 wow">
                    <h3 class="section-heading">@ViewBag.Varieties[item].VarietyName</h3>

                    <p class="lead">
                        @ViewBag.Varieties[item].Description
                    </p>
                    <div class="sub-title lead3"></div>
                    <p><a class="btn btn-embossed btn-primary" href="/Koi/ListKoi/@ViewBag.Varieties[item].VarietyID" role="button">Xem thêm @ViewBag.Varieties[item].VarietyName</a>
                    </p>
                </div>
                <div class="col-md-3 wow">
                    <img style="float: right;" class="img-koi-variety" src="/Content/Image/Variety/@ViewBag.Varieties[item].Image" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div><div>
            @if (item < Enumerable.Count(ViewBag.Varieties) - 1) { item++; } else { break; }
        </div>
                <div class="container content-section-b">

            <div class="container">
                @{  id = "item" + item;}
                <a name="@id"></a>
                <div class="row">

                    <div class="col-md-3 wow">
                        <img class="img-koi-variety" src="/Content/Image/Variety/@ViewBag.Varieties[item].Image" alt="">
                    </div>

                    <div class="col-md-9 wow pull-right">
                        <h3 class="section-heading">@ViewBag.Varieties[item].VarietyName</h3>

                        <p class="lead">
                            @ViewBag.Varieties[item].Description
                        </p>
                        <div class="sub-title lead3"></div>
                        <p><a class="btn btn-embossed btn-primary" href="/Koi/ListKoi/@ViewBag.Varieties[item].VarietyID" role="button">Xem thêm @ViewBag.Varieties[item].VarietyName</a></p>
                    </div>
                </div>
            </div> </div>
            <!-- /.container -->
       
    }




